:root{
  --primary-color: #310e0e;
  --secondary-color: #1c0505;
  --third-color: #602c2c;
}
body{
  background-color: var(--primary-color);
}
#root {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card{
  border-radius: 0;
}
.card-header {
  background-color: var(--secondary-color)!important;
  color: white;
}
.card-body {
  background-color: var(--third-color)!important;
  padding: 0;
}

.card:first-of-type {
  margin-bottom: 20px;

}

